@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer utilities {
  .tape-container::-webkit-scrollbar {
    width: 8px;
  }
  .tape-container::-webkit-scrollbar-track {
    background: #050505;
  }
  .tape-container::-webkit-scrollbar-thumb {
    background: rgba(0, 255, 0, 0.2);
    border-radius: 4px;
  }
  .tape-container::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 255, 0, 0.4);
  }
}
